# Private 
.vscode/

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.DS_Store
src/msp430f5529/Debug/subdir_rules.mk
src/msp430f5529/Debug/msp430f5529_linkInfo.xml
src/msp430f5529/Debug/includes/config/subdir_rules.mk
src/msp430f5529/Debug/includes/driverlib/subdir_rules.mk
src/msp430f5529/Debug/makefile
src/msp430f5529/Debug/subdir_rules.mk
src/msp430f5529/Debug/msp430f5529_linkInfo.xml
src/msp430f5529/Debug/makefile
src/msp430f5529/Debug/includes/driverlib/subdir_rules.mk
src/msp430f5529/Debug/includes/config/subdir_rules.mk
src/msp430f5529/.launches/msp430f5529.launch
