.src/
src/
.DS_Store

# LaTeX temporary files
*.aux
*.log
*.toc

# PDF output - usually a bad idea to keep this in Git
*.pdf

# Latexmk
*.fdb_latexmk

# SyncTeX
*.synctex.gz

# LaTeX Beamer
*.snm
*.vrb
*.nav
*.out

# BibTeX
*.bbl
*.blg


Latex/*.fls
Latex/*.log
Latex/*.pdf
Latex/*.xdv
Latex/*.fdb_latexmk
Latex/ekg_7_projektbericht.fdb_latexmk
Latex/ekg_7_projektbericht.fls
Latex/ekg_7_projektbericht.log
Latex/ekg_7_projektbericht.pdf
Latex/ekg_7_projektbericht.xdv
