.src/
src/
.DS_Store
*.aux
*.log
*.gz
*.toc
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.pdf
*.xdv
Latex/*.aux
Latex/*.log
Latex/*.gz
Latex/*.toc
Latex/*.bbl
Latex/*.blg
Latex/*.fdb_latexmk
Latex/*.fls
Latex/*.log
Latex/*.pdf
Latex/*.xdv
